<a href="https://colab.research.google.com/github/Kousikdutta1/Formula-1-Data-Analysis/blob/main/Formula_1_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**NAME OF THE DATASET: FORMULA 1 DATASET**

**Formula 1 racing originated during the 1920-30s in Europe from other similar racing competitions. In 1946, the FIA standardized racing rules and this formed the basis of Formula One racing. The inaugural Formula One World Drivers’ championship was then held in 1950, the first world championship series.** 

**Formula 1 also known as F1 is a Motorsport defined by open build single seat race cars it features the best drivers and most powerful and technically advanced cars sanctioned by the Fédération Internationale de l'Automobile also known as FIA. Here 10 team comprising of 2 drivers each compete in a period of one year to find out ultimate driver and a constructor champion. A Formula One season consists of a series of races, known as Grand Prix which take place worldwide on purpose-built circuits and on public roads.**

**The data set includes Race wins, all Race Results, Qualifying Times, Constructors as well as Drivers Championship and Fastest Laps and others for years 1950-2020.**

#**Objective of This Project -**

* Understand the dataset, data types & missing values.
* Clean the dataset and handle the missing values.
* With the help of Data visualization get some conclusions.

#**Importing Libraries**

In [1]:
# We will first import the Python libraries required in this notebook.

import numpy as np  # Helps in working with matrices and arrays
import pandas as pd # Helps in reading the datset , making dataframe and manipulating dataframes
import matplotlib.pyplot as plt  # Helps to visualize the dataset
import seaborn as sns  # Helps to visualize the dataset

%matplotlib inline

#**Uploading the Dataset**

In [2]:
working_dir_path = '/content/drive/MyDrive/Colab Notebooks/Formula 1 Dataset Analysis/'

In [21]:
# Let's load different datasets

results = pd.read_csv(working_dir_path + 'results.csv')

races = pd.read_csv(working_dir_path + 'races.csv')

drivers = pd.read_csv(working_dir_path + 'drivers.csv')

constructors = pd.read_csv(working_dir_path + 'constructors.csv')

constructor_results = pd.read_csv(working_dir_path + 'constructor_results.csv')

circuits = pd.read_csv(working_dir_path + 'circuits.csv')

seasons = pd.read_csv(working_dir_path + 'seasons.csv')

lap_times = pd.read_csv(working_dir_path + 'lap_times.csv')

status = pd.read_csv(working_dir_path + 'status.csv')

##**Let's display top 05 rows of the different datasets of Formula 1 Racing.**

In [4]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [6]:
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [8]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [11]:
constructors.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [13]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [17]:
constructor_results.sample(10)

      constructorResultsId  raceId  constructorId  points status
1037                  1038     118              6    15.0     \N
5712                  5713     465              6     0.0     \N
3763                  3764     333             33     0.0     \N
8829                 11739     645              6     0.0     \N
268                    269      43              9     0.0     \N
3573                  3574     323             18     0.0     \N
6517                 13740     517             27     6.0     \N
3108                  3109     295             32     0.0     \N
465                    466      61             11     0.0     \N
9466                 13963     342              1    10.0     \N

In [20]:
lap_times.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [22]:
status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [23]:
seasons.head()

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

#**Let's merge different datasets for better understanding.**

In [24]:
# Let's first merge results and races column

merged_results_races = pd.merge (results, races, on = 'raceId')

In [27]:
merged_results_races.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time_x',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'year', 'round', 'circuitId', 'name',
       'date', 'time_y', 'url', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time',
       'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date',
       'sprint_time'],
      dtype='object')